.env
.env*.local
.next
node_modules
dist
coverage
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/avatars/
public/uploads/avatars/*
!public/uploads/avatars/.gitkeep
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dev-server*.log
